/* style sheet.css */
div {
    background-color: #0e2954;
    width: auto;
    height: auto;
    border-radius: 20px;
    
}
.box1 {
    background-color: #1F6E8C;
    width: 300px;
    height: fit-content;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: whitesmoke
}
button {
    background: #1F6E8C;
    color: whitesmoke;
    padding: 15px 32px;
    cursor: pointer;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 40px;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    border-radius: 20px;
}
select{
    border-radius: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #2E8A99;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
th {
    background-color: #2E8A99;
}